/* CSS Updates */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8FAFC;
    border-bottom: 3px solid #872341;
    padding: 40px;
    position: relative;
}

.logo {
    position: absolute;
    top: -5px;
    left: 15px;
}
.logo img {
    width: 80px;
    height: auto;
}

/* Style the navigation menu */
.navigation-menu {
    display: none; /* Hide by default */
    position: absolute;
    top: 100px; /* Adjust based on header height */
    right: 20px;
    background-color: #872341;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    border-radius: 8px;
}

/* Show the menu when toggled */
.navigation-menu.open {
    display: block;
}

/* Style the list items */
.navigation-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-menu ul li {
    padding: 12px;
}

.navigation-menu ul li a {
    text-decoration: none;
    color: #F8FAFC;
    display: block;
    font-size: 16px;
}

.navigation-menu ul li a:hover {
    background-color: #DD92A9;
}

/* Hamburger Menu Styling */
.hamburger-menu {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

.hamburger-menu svg {
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.menu-line {
    fill: none;
    stroke: #872341;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.3s, stroke-dashoffset 0.3s;
}

.menu-top-bottom {
    stroke-dasharray: 12 63;
}

/* When menu is open */
.hamburger-menu svg.open {
    transform: rotate(-45deg);
}

.hamburger-menu svg.open .menu-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.character-illustration img {
    width: 600px;
}

.text-section {
    margin-left: 10px;
    text-align: left;
}

.skills {
    font-size: 18px;
    color: #872341;
    text-align: center;
    margin-top: -90px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons img {
    width: 50px;
    margin: 10px;
    margin-top: -10px;
}